﻿.RegExTextBox
{
	background-image: url(RegExTextBox.gif); 
	background-repeat:no-repeat; 
	background-position: right; 
	padding-right: 1px; 
	border: solid 1px #7F9DB9;
	padding-left: 1px;
}