<%@ Control Language="VB" AutoEventWireup="false" CodeFile="RegExTextBox.ascx.vb" Inherits="UserControls_RegExTextBox" %>

<asp:TextBox 
    ID="regExTextBox" 
    runat="server" 
    CssClass="RegExTextBox" />