﻿.popupHeaderTable 
{
    border-bottom: solid 1px black;
    background-color: #CCC;
}

.popupHeaderTable th
{
    text-align: left;
}
.popupTable
{
}

.popupTable tr
{
    cursor: pointer;
}

.popupTable .row
{
}

.popupTable .rowalt
{
    background-color: #EEE;
}

.popupTable th
{
    text-align: left;
}

.popupTable td
{
    font-size: 12px;
    border-bottom: solid 1px #999;
    text-align: left;
}

.popupTable .codeCell
{
    width: 125px;
}

.dataPanel
{
    overflow: auto; 
    height: 400px; 
    width: 100%;
    background-color: white;
    border-bottom: solid 1px black;
}

.errorPanel
{
    height: 400px; 

	border: black 1px solid;
	padding: 5px 25px 5px 45px;
	margin: 10px;
	
	background-image: url(../../Images/error2.gif);
	background-repeat: no-repeat;
	background-color: white;
}

.warningPanel
{
    height: 400px; 

	border: black 1px solid;
	padding: 5px 25px 5px 45px;
	margin: 10px;

	background-image: url(../../Images/warning2.gif);
	background-repeat: no-repeat;
	background-color: white;
}
