<%@ Control Language="VB" AutoEventWireup="false" CodeFile="PersonTypeControl.ascx.vb" Inherits="Product_PersonTypeControl" %>

<%@ Register Src="..\..\UserControls\RegExTextBox\RegExTextBox.ascx" TagName="RegExTextBox" TagPrefix="uc1" %>

<asp:Table ID="personTypeTable" runat="server" CellPadding="2" CellSpacing="0" CssClass="dataTable" Style="width: 100%">
    <asp:TableHeaderRow>
        <asp:TableHeaderCell Style="width: 100px;">Type</asp:TableHeaderCell>
        <asp:TableHeaderCell Style="width: 100px;">$</asp:TableHeaderCell>
        <asp:TableHeaderCell Style="width: 100px;">%</asp:TableHeaderCell>
        <asp:TableHeaderCell>&nbsp;</asp:TableHeaderCell>
    </asp:TableHeaderRow>
</asp:Table>

<table style="width:100%" cellpadding="2" cellspacing="0">
    <tr>
        <td align="right">
            <asp:Button ID="updateButton" runat="server" Text="Save PTD" CssClass="Button_Standard Button_Save" />
        </td>
    </tr>
</table>    


