﻿body
{
}

.bulkEditVehicleSalePanelButtons
{
    margin-top: 20px;
}

#editFleetAtivityPanel .inputCol
{
    width: 190px;
}

.inputCol > input
{
    margin: 0;
}

.inputCol
{
}

#divFleetDetailPanel
{
    margin-bottom: 20px;
}

.divResult thead
{
    background-color: #DDDDE6;
}

.disableLink
{
    cursor: default !important;
    text-decoration: none !important;
}

.disableLink:hover
{
    color: #333366 !important;
}

.activityFirstRow
{
    width: 560px !important;
}

.activityFirstRow span
{
    float: left;
    margin-right: 20px;
}

.titleCol
{
    width: 100px;
}
.nameCol
{
    background-color: #F6F6FF;
    padding: 0 5px;
    position: absolute;
}
.startTitle
{
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
.endTitle
{
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 355px;
}
.subrow
{
    padding: 0;
}

.subtitleCol
{
    border-left: 2px solid #000000;
    padding: 21px 5px;
    height: 15px;
}

.subinputCol
{
    border-right: 2px solid #000000;
    padding: 21px 0;
    height: 15px;
}

.initialRow
{
    border-top: 2px solid #000000;
}

.finalRow
{
    border-bottom: 2px solid #000000;
}

#editFleetAtivityPanel_ActivityType_validation
{
    margin-left: 100px;
}

#editFleetAtivityPanel_ExternalRef_validation
{
    margin-left: 260px;
}

.timeField
{
    width:20px;
}
    

/* 11Aug2014 Revisions from aurora */    
.ErrorV2
{
    border: 2px solid red;
}


 

#tableEditActivities td,#tableDescription td, #tableButton td
{
    width: 200px;
}  

#tableEditActivities select,#tableEditActivities input
{
    width: 170px;
}  

 #tableSearch td, #tableFleetDetailPanel td
 {
     width: 150px;
 }
 
 #tableSearch select,#tableSearch input, #tableFleetDetailPanel input
 {
     width: 130px;
 }