<%@ Master Language="VB" CodeFile="AuroraHeader.master.vb" Inherits="AuroraHeader" %>

<%@ Register Src="../UserControls/SessionRedirector/SessionRedirectorUserControl.ascx"
    TagName="SessionRedirectorUserControl" TagPrefix="uc2" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/UserControls/MessagePanelControl/MessagePanelControl.ascx" TagName="MessagePanelControl"
    TagPrefix="uc1" %>
<%@ Register Src="~/UserControls/LoadingIndicatorControl/LoadingIndicatorControl.ascx"
    TagName="LoadingIndicatorControl" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0)"/>
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)"/>

    <title runat="server" id="title" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="AuroraHeader.css" />
    <script src="../Booking/Jquery/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="../Booking/Jquery/jquery.blockUI.js" type="text/javascript"></script>
    <script src="../Booking/Jquery/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>
    <%--rev:mia Oct.31 2013 - added for Notes formatting--%>
    <%--
    <script src="../Booking/Jquery/jHtmlArea-0.7.5.js"   type="text/javascript"></script>
    <link href="Css/jHtmlArea.css" rel="stylesheet" type="text/css" />
    <script src="../Booking/Jquery/jHtmlArea.ColorPickerMenu-0.7.0.js" type="text/javascript"></script>
    <link href="Css/jHtmlArea.ColorPickerMenu.css" rel="stylesheet" type="text/css" />
    --%>

    <style type="text/css">
        /* body { background: #ccc;} */
        div.jHtmlArea .ToolBar ul li a.custom_disk_button
        {
            background: url(images/disk.png) no-repeat;
            background-position: 0 0;
        }
        
        div.jHtmlArea
        {
            border: solid 1px #ccc;
        }
    </style>
    <%-- <script src="../Booking/EftposJS/EFTPOSPrinter.js" type="text/javascript"></script>--%>
    <asp:ContentPlaceHolder ID="StylePlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript" for="document" event="onmousedown">
if(window.event.button==2) alert("Please use Aurora navigation Buttons")
    </script>
    <script type="text/javascript" for="document" event="onkeydown">
if(window.event.keyCode==93) alert("Please use Aurora navigation Buttons")
    </script>

    
</head>
<body>
     
    <asp:Literal runat="server" ID="menuJavascriptLiteral" EnableViewState="false" />
    <form id="auroraForm" action="" method="post">
    <input type="hidden" name="hid_userCode" id="hid_userCode" value="<%= Server.HtmlEncode (Me.AuroraPage.UserCode) %>" />
    <input type="hidden" name="htm_hid_userCode" id="htm_hid_userCode" value="<%= Server.HtmlEncode (Me.AuroraPage.UserCode) %>" />
    <input type="hidden" name="htm_hid_funId" id="htm_hid_funId" value="NEXT" />
    <input type="hidden" name="htm_hid_funFileName" id="htm_hid_funFileName" value="next.asp" />
    <input type="hidden" name="hid_htm_funCode" id="hid_htm_funCode" value="NEXT" />
    <input type="hidden" name="selectedCombo1" id="selectedCombo1" value="next.asp" />
    <input type="hidden" name="sTxtSearch" id="sTxtSearch" value="" />
    <input type="hidden" name="help_funcode" id="help_funcode" value="<%= Server.HtmlEncode (Me.AuroraPage.FunctionCode) %>" />
    </form>
    <form id="osloForm" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" />
    <script type="text/javascript">
        function clearMessages() { MessagePanelControl.clearMessagePanel('<%= messagePanel.ClientID %>'); }
        function addMessage(messageType, text) { MessagePanelControl.addMessagePanel('<%= messagePanel.ClientID %>', messageType, text); }
        function addInformationMessage(text) { addMessage('Information', text); }
        function addWarningMessage(text) { addMessage('Warning', text); }
        function addErrorMessage(text) { addMessage('Error', text); }
        function setInformationMessage(text) { clearMessages(); addInformationMessage(text); }
        function setWarningMessage(text) { clearMessages(); addWarningMessage(text); }
        function setErrorMessage(text) { clearMessages(); addErrorMessage(text); }

        function clearShortMessage() { MessagePanelControl.clearMessagePanel('<%= shortMessagePanel.ClientID %>'); }
        function setShortMessage(messageType, text) { MessagePanelControl.setMessagePanel('<%= shortMessagePanel.ClientID %>', messageType, text); }
        function setInformationShortMessage(text) { setShortMessage('Information', text); }
        function setWarningShortMessage(text) { setShortMessage('Warning', text); }
        function setErrorShortMessage(text) { setShortMessage('Error', text); }

        var shortMessagePanel = null;

        addEvent(window, "load", function () {
            shortMessagePanel = document.getElementById('<%= shortMessagePanel.ClientID %>');

        });
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
            shortMessagePanel = document.getElementById('<%= shortMessagePanel.ClientID %>');

        });

        addEvent(window, "load", onloadHacks);
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(onloadHacks);



    </script>
    <script type="text/javascript">
        var pbControl = null;
        var prm = Sys.WebForms.PageRequestManager.getInstance();

        prm.add_beginRequest(BeginRequestHandler);
        prm.add_endRequest(EndRequestHandler);

        function BeginRequestHandler(sender, args) {
            pbControl = args.get_postBackElement();
        }
        function EndRequestHandler(sender, args) {

            if (pbControl.id.indexOf('ImagePrinters') > 0) {
                //openSetPrinterWindow()
                $('#ctl00_ImagePrinters').click(function () {

                });
            }
        } 
        
        
    </script>
    <asp:ContentPlaceHolder ID="ScriptPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    <div class="header">
        <div class="header-inner">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-top: 8px">
                <tr>
                    <td>
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/images/header_title.gif" Width="144px"
                            Height="65px" />
                    </td>
                    <!-- start search -->
                    <td style="padding: 0 2px;">
                        <table cellspacing="0" cellpadding="5" border="0" style="border: solid 1px #99A4B6;
                            background-color: #526687; height: 50px; width: 125px">
                            <tr>
                                <td>
                                    Search:
                                </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap">
                                    <input style="width: 115px" name="searchTextBox" onblur="this.value = this.value.trim()"
                                        onkeypress="if(event.keyCode == 13) { Search(); return false; }" id="searchTextBox"
                                        runat="server" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- end search -->
                    <!-- start new/booking buttons -->
                    <td style="padding: 0 2px;">
                        <table cellspacing="0" cellpadding="3" border="0">
                            <tr>
                                <td>
                                    <input type="button" onclick="Search(); return false;" value="New" class="Button_Standard"
                                        style="width: 100px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" onclick="GoToBooking(); return false;" value="Go to Booking"
                                        class="Button_Standard" style="width: 100px" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- end new/booking buttons -->
                    <!-- start menu combo boxed -->
                    <td valign="middle" style="padding: 0">
                        <asp:UpdatePanel ID="menuUpdatePanel" runat="server">
                            <ContentTemplate>
                                <table cellspacing="0" cellpadding="5" border="0">
                                    <tr>
                                        <td style="width: 70px;">
                                            Module:
                                        </td>
                                        <td style="white-space: nowrap">
                                            <select class="menu" style="width: 165px;" name="menuModuleDropDown" id="menuModuleDropDown"
                                                onchange="menuModuleDropDown_onchange()" runat="server" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 70px;">
                                            Function:
                                        </td>
                                        <td>
                                            <select class="menu2" style="width: 165px;" name="menuFunctionDropDown" id="menuFunctionDropDown"
                                                onchange="menuFunctionDropDown_onchange()" runat="server" />
                                        </td>
                                    </tr>
                                </table>
                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </td>
                    <!-- end menu combo boxed -->
                    <!--start menu-->
                    <td valign="middle" align="right" style="padding: 0 2px 0 2px; height: 50px;">
                        <table cellspacing="0" cellpadding="1" border="0" style="border: solid 1px #99A4B6;
                            background-color: #526687; height: 50px; width: 145px">
                            <tr style="white-space: nowrap; text-align: center">
                                <td colspan="2">
                                    <a id="lnkSwitchUser" runat="server" href="#">
                                        <asp:Label runat="Server" ID="userNameLabel" EnableViewState="false">Joe Smith</asp:Label></a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr style="white-space: nowrap; text-align: center">
                                <td colspan="2">
                                    <asp:UpdatePanel ID="updLinkCompany" runat="server">
                                        <ContentTemplate>
                                            <a id="lnkToggleCompany" runat="server" href="#"></a>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                    <asp:Label ID="welcomeLabel" runat="server">THL Rentals</asp:Label>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                    <img src="~/images/setPswd2.gif" style="cursor: pointer" onclick="openSetPasswordWindow()"
                                        alt="Set Password" title="Set Password" runat="server" id="setPasswordButton" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="~/images/exchangeButton.gif" style="cursor: pointer" onclick="openCurrencyExchangeWindow()"
                                        alt="Currency Exchange" title="Currency Exchange" runat="server" id="currencyExchangeButton" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="~/images/helpButton.gif" style="cursor: pointer" id="helpButton" runat="server"
                                        alt="Help" title="Help" />
                                </td>
                                <td align="left">
                                    <asp:UpdatePanel ID="UpdatePanelPrinters" runat="server">
                                        <ContentTemplate>
                                            <asp:ImageButton ID="ImagePrinters" runat="server" ImageUrl="~/images/printer.png"
                                                Width="20" Height="20" />
                                            <asp:Panel ID="panelPrinters" runat="server" CssClass="modalPopup" Style="display: none;
                                                width: 400px;">
                                                <asp:GridView ID="gridPrinters" runat="server" AutoGenerateColumns="False" CellPadding="4"
                                                    EnableViewState="false" CssClass="dataTableGrid" ShowHeader="false">
                                                    <RowStyle CssClass="evenRow"></RowStyle>
                                                    <Columns>
                                                        <asp:TemplateField>
                                                            <ItemTemplate>
                                                                <asp:Image ID="imgDefault" runat="server" Visible="false" ImageUrl="~/Images/Printer-icon.png">
                                                                </asp:Image>
                                                            </ItemTemplate>
                                                            <ItemStyle Width="35px"></ItemStyle>
                                                        </asp:TemplateField>
                                                        <asp:TemplateField>
                                                            <ItemTemplate>
                                                                <asp:TextBox ID="txtPrinterName" runat="server" Text='<%#eval("LocPrnPrinterName") %>'
                                                                    Height="100%" Width="95%" Wrap="true" ReadOnly="true" TextMode="MultiLine" />
                                                            </ItemTemplate>
                                                            <ItemStyle Width="300px"></ItemStyle>
                                                        </asp:TemplateField>
                                                        <asp:TemplateField>
                                                            <ItemTemplate>
                                                                <asp:Button ID="btnTest" CommandArgument='<%# eval("LocPrnPrinterName") %>' CommandName="TestPrint"
                                                                    runat="server" Text="Printer Test" Width="85px" OnClick="btnTest_Click" />
                                                            </ItemTemplate>
                                                        </asp:TemplateField>
                                                        <asp:TemplateField>
                                                            <ItemTemplate>
                                                                <asp:Button ID="btnAssigned" CommandArgument='<%# eval("LocPrnPrinterName") %>' CommandName="AssignToMe"
                                                                    runat="server" Width="75px" OnClick="btnAssigned_Click" Text='Assign' />
                                                            </ItemTemplate>
                                                        </asp:TemplateField>
                                                    </Columns>
                                                    <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White"></HeaderStyle>
                                                    <AlternatingRowStyle CssClass="oddRow"></AlternatingRowStyle>
                                                </asp:GridView>
                                                <table style="width: 400px;">
                                                    <tr align="right" style="width: 400px;">
                                                        <td align="right">
                                                            <input id="btnMFinish" type="button" value="Close" style="visibility: hidden" />
                                                            <input id="btnMClose" type="button" value="Close" class="Button_Standard Button_Reset" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </asp:Panel>
                                            <ajaxToolkit:ModalPopupExtender BehaviorID="programmaticModalPopupBehaviorPrinter"
                                                ID="ModalPopupExtenderPrinter" runat="server" TargetControlID="ImagePrinters"
                                                PopupControlID="panelPrinters" BackgroundCssClass="modalBackground" CancelControlID="btnMClose"
                                                OkControlID="btnMFinish">
                                            </ajaxToolkit:ModalPopupExtender>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!--end menu-->
                </tr>
            </table>
        </div>
    </div>
    <div class="title">
        <div class="title-inner">
            <!-- start title -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 10px;">
                <tr valign="top">
                    <td style="width: 400px; white-space: nowrap; vertical-align: top; text-align: left;">
                        <div class="titlelarge" nowrap>
                            <span id="titlelabel" runat="server" /><a id="titleLink" runat="server" href="">
                            </a><span id="titleValue" />
                        </div>
                    </td>
                    <td style="width: 400px; white-space: nowrap; vertical-align: top; text-align: right">
                        <asp:UpdatePanel ID="shortMessagePanelUpdatePanel" runat="server">
                            <ContentTemplate>
                                <uc1:MessagePanelControl ID="shortMessagePanel" runat="server" CssClass="shortMessagePanel" />
                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
            <!-- end title -->
        </div>
    </div>
    <!-- start main content -->
    <div class="content">
        <div class="content-inner">
            <asp:UpdatePanel ID="messageUpdatePanel" runat="server" RenderMode="Inline">
                <ContentTemplate>
                    <uc1:MessagePanelControl ID="messagePanel" runat="server" CssClass="messagePanel" />
                </ContentTemplate>
            </asp:UpdatePanel>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server" />
        </div>
    </div>
    <!-- end main content -->
    <div class="footer">
        <div class="footer-inner">
            <div style="clear: both; text-align: right; color: #999; font-size: 9px; margin-top: 10px">
                <uc2:SessionRedirectorUserControl ID="SessionRedirectorUserControl1" runat="server">
                </uc2:SessionRedirectorUserControl>
                &nbsp;<asp:Label ID="systemInfo" runat="server" />
            </div>
        </div>
    </div>
    <uc1:LoadingIndicatorControl ID="lodLoading" runat="server" />
    </form>
    <%--Feb 12 2010 - DPS eftpos integration - manny 
    <object id="dpsEftX" classid="CLSID:92EDD80C-B50B-4B85-9AE9-9B3E6C63DED9" width="0"
        height="0">
    </object>--%>
</body>
</html>
