﻿div.WizardControl
{
}

div.WizardControl div
{
	font-size:13px; 
	height:20px; 
	line-height:18px; 
}

div.WizardControl div a
{
	font-size:13px; 
}

div.WizardControl .seperator
{
	font-family: Verdana;
}

div.WizardControl img
{
	vertical-align: top;
    margin-right: 3px;
}

div.WizardControl span.selected
{
	font-weight: bold;
}

div.WizardControl span.next
{
	color: #999;
}

