<%@ Control Language="VB" AutoEventWireup="false" CodeFile="WizardControl.ascx.vb" Inherits="UserControls_WizardControl" %>

<div class="WizardControl">

<asp:DropDownList runat="server" id="itemDropDownList" AutoPostBack="true" Style="display: none"/>

<asp:Panel ID="wizardPanel" runat="server" EnableViewState="false">
</asp:Panel>

</div>