﻿/*****************************************************************************************************************/
/* Styles that defined elements used within the form.  Inputs, labels, textarea's, buttons etc */
/*****************************************************************************************************************/

/* buttons */
@media print
{
	.Button_Small, .Button_Medium, .Button_Standard
	{
		visibility: hidden;
	}
}

.Button_Small, .Button_Medium, .Button_Standard
{
    background: #FFF url(../../images/buttons/button_bg.png) repeat-x; 
    margin: 1px; 
    padding: 2px 3px; 
    color: #FFF;	
	border: 0; 
    cursor: pointer;
}

.Button_Small
{
	width: 78px;
}

.Button_Medium
{
	width: 90px;
}

.Button_Standard
{
	width: 130px;
}

.Button_Small:hover, .Button_Small:focus, .Button_Small:active,
.Button_Medium:hover, .Button_Medium:focus, .Button_Medium:active,
.Button_Standard:hover, .Button_Standard:focus, .Button_Standard:active
{ 
	color: #FFBD49;
}

/* text boxes */
.TextBox_Standard
{
	width: 200px;
}


/* readonly / disabled styles */
.textdisabled, .textreadonly, 
.inputdisabled, .inputreadonly, 
.selectdisabled, .selectreadonly, 
.textareadisabled, .textareareadonly
{
	background-color: #eee;
	border: solid #7F9DB9 1px !important;
	color: #000 !important;
	cursor: default !important;
	padding: 1px 2px 2px 2px !important;
}

.checkboxdisabled, .checkboxreadonly
{
}

.radiodisabled, .radioreadonly
{
}

.buttondisabled, .buttonreadonly, 
.submitdisabled, .submitreadonly
{
    background: #FFF url(../../images/buttons/button_bg_disabled.png) repeat-x !important;  
    cursor: default !important;
}


/* custom buttons */
.Button_Add, .Button_Create, .Button_New
{
    background: #FFF url(../../images/buttons/button_add.png) no-repeat left top;
}

.Button_Update, .Button_Edit
{
    background: #FFF url(../../images/buttons/button_update.png) no-repeat left top;
}

.Button_Save
{
    background: #FFF url(../../images/buttons/button_save.png) no-repeat left top;
}

.Button_Calc
{
    background: #FFF url(../../images/buttons/button_calc.png) no-repeat left top;
}

.Button_Cancel
{
    background: #FFF url(../../images/buttons/button_cancel.png) no-repeat left top;
}

.Button_Next
{
    background: #FFF url(../../images/buttons/button_next.png) no-repeat left top;
}

.Button_OK
{
    background: #FFF url(../../images/buttons/button_ok.png) no-repeat left top;
}

.Button_Prev, .Button_Back, .Button_Close
{
    background: #FFF url(../../images/buttons/button_prev.png) no-repeat left top;
}

.Button_Remove, .Button_Delete
{
    background: #FFF url(../../images/buttons/button_remove.png) no-repeat left top;
}

.Button_Search, .Button_View
{
    background: #FFF url(../../images/buttons/button_search.png) no-repeat left top;
}

.Button_Reset
{
    background: #FFF url(../../images/buttons/button_reset.png) no-repeat left top;
}

.Button_Refresh
{
    background: #FFF url(../../images/buttons/button_refresh.png) no-repeat left top;
}

.Button_Calculate
{
    background: #FFF url(../../images/buttons/button_calc.png) no-repeat left top;
}

.Button_Print
{
    background: #FFF url(../../images/buttons/button_print.png) no-repeat left top;
}

.Button_Report
{
    background: #FFF url(../../images/buttons/button_report.png) no-repeat left top;
}

.Button_Pause
{
    background: #FFF url(../../images/buttons/button_pause.png) no-repeat left top;
}

/* stuff for HTC!!! */
.Button_Small, .Button_Medium, .Button_Standard, .Button_Add, .Button_Create, .Button_New, .Button_Update, .Button_Edit,
.Button_Save,.Button_Calc,.Button_Cancel,.Button_Next,.Button_OK,.Button_Prev, .Button_Back, .Button_Close,.Button_Remove, 
.Button_Delete,.Button_Search, .Button_View,.Button_Reset,.Button_Refresh,.Button_Calculate,.Button_Print,.Button_Report
{
	behavior: url("../Include/Css/ButtonFocusBlurHandler.htc");
}