﻿/*****************************************************************************************************************/
/* Styles that have global effect on the standard html classes.  Do not define custom CSS classes here */
/*****************************************************************************************************************/

html 
{
	min-height: 100%; margin-bottom: 1px; /* hack to make the scrollbar always appear in FireFox.  No effect in IE */
}

body, table, td, a
{
	font-size: 12px;
	font-family: arial;
}

table, td, a
{
	color: inherit;
}

table
{
	border-collapse: collapse;
}

th
{
	background-color: #AAA;
	text-align: left;
}

table, th, td
{
	border-color: #999;
	border-style: solid;
	border-width: 0px;
}

a, a:active, a:visited
{
	color: #336;
	text-decoration: underline;
}

a:hover
{
	color: #D08500;
	text-decoration: underline;
}

hr
{
	border-color: #999;
	border-style: solid;
	border-width: 1px 0 0 0;
	height: 1px;
}

