﻿ @media print {
            #headerImage {
                width: 30% !important;
            }
            #supplierHref,
            #thlHref{
                display: none !important;
            }
            p {
                font-size: 12px !important;
            }
            #heading {
                text-align: left !important;
            }
        }
