﻿/*****************************************************************************************************************/
/* Styles for the "MessagePanel" to display error/warning/information messages
/*****************************************************************************************************************/


/* Messages */
div.messagePanel { }

div.messagePanel div
{
	width: auto;
	border: solid 1px #A0A0A0; 
	padding: 5px 25px 5px 45px; 
	margin: 0 0 10px 0; 
	background-color: #fff; 
	background-repeat: no-repeat; 
	min-height:40px; 
	height:auto !important; 
	height:40px;
}

div.messagePanel div.Information { background-image: url('../../Images/informat2.gif'); }
div.messagePanel div.Error { background-image: url('../../Images/error2.gif'); }
div.messagePanel div.Warning { background-image: url('../../Images/warning2.gif'); }

/* Short Messages */

div.shortMessagePanel 
{ 
	background-color: inherit;
	width: auto;
	margin-right: 10px;
}

div.shortMessagePanel div
{
	width: auto;
	padding: 0 0 0 20px; 
	background-repeat: no-repeat; 
	white-space: nowrap;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	font-family: arial;
	text-align: left;
	float: right;
}

div.shortMessagePanel div.Information { background-image: url('../../Images/informat.gif'); }
div.shortMessagePanel div.Error { background-image: url('../../Images/error.gif'); }
div.shortMessagePanel div.Warning { background-image: url('../../Images/warn.gif'); }


/* Popup Messages */

div.popupMessagePanel 
{ 
	background-color: inherit;
	width: auto;
	padding: 0 10px 0 0;
}

div.popupMessagePanel div
{
	width: auto;
	margin : 0;
	padding: 2px 2px 2px 20px; 
	background-repeat: no-repeat; 
	white-space: nowrap;
	font-weight: normal;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	font-family: arial;
	text-decoration: none;
	text-align: left;
	height: 30px;
}

div.popupMessagePanel div.Information { background-image: url('../../Images/informat.gif'); }
div.popupMessagePanel div.Error { background-image: url('../../Images/error.gif'); }
div.popupMessagePanel div.Warning { background-image: url('../../Images/warn.gif'); }

