﻿/*****************************************************************************************************************/
/* Styles associated with the AJAX Popup Controls */
/*****************************************************************************************************************/


.modalBackground
{
	filter: alpha(opacity=50);
	background-color: black;
	opacity: 0.5;
}

.modalPopup
{
	border: gray 1px solid;
	padding: 10px;
	background-color: #F6F6FF; /* #ffffdd; */
	padding: 5px;
}

.modalPopupTitle
{
    cursor: move; 
    background-color: #526687; 
    border: solid 1px #999; 
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	font-family: arial;
	padding: 1px 1px 1px 4px;
}



