﻿
/**************************************************************************/
/* Tables */
/**************************************************************************/

.Table_Holding
{
	padding: 3px;
	font-size: 12px;
	border-style: none;
	text-align: left;
}

.Table_Search
{
	vertical-align: middle;
	text-align: center;
	background-color: #aaa;
	border-color: black;
	border-style: solid;
}
.Table_Search TH
{
	font-weight: bold;
	border-color: black;
	border-style: solid;
}
.Table_Search TD
{
	border-color: black;
	border-style: solid;
}

.Table_Booking_Extension_Header 
{
	background-color:#00006f;
	height:20px;
}
.Table_Booking_Extension_Header td
{
	font-size: 8pt; 
	color: white;
	font-weight: bold;
}

.Table_Booking_Extension_Body
{
	background-color: #c0c0c0;
}

.Table_Gray_Outer_Border
{
	border :solid 1px #909090;
	width:340px;
}

.Table_Black_Outer_Border
{
	border: solid 1px black;
	width:100%;
}

.Table_Black_Outer_Border td
{
	height:25px;
}

.Table_ThickBlackBorder
{
	border: black thin solid; 
}

.Table_ThinBlackBorder
{
	border: black 1px solid; 
}

TD.readonly
{
	background-color: #dcdcdc;
}

/* Standard Table Followed everywhere!*/

.StandardTable
{
	width: 100%;
	border: solid 1px black;
}
.StandardTable .trHeader
{
	background-color: #CCC;
	font-size: 11px;
	font-weight: normal;
}
.StandardTable .trHeader td
{
	border-top: solid 1px black;
	font-weight: normal;
	font-size: 11px;
}
.StandardTable .trHeader th
{
	border-top: solid 1px black;
	font-weight: normal;
	font-size: 11px;
}
.StandardTable .row
{
	background-color: #FFF;
}
.StandardTable .rowalt
{
	background-color: #EEE;
}

/* Standard Table Followed everywhere!*/


/**************************************************************************/
/* Tabs */
/**************************************************************************/


.tabPanel .ajax__tab_panel
{
	width: 100%;
	min-height: 460px;
	height: auto !important;
	height: 460px;
}

.tabPanel .ajax__tab_xp .ajax__tab_header
{
	background-color: white;
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
}

.tabPanel .ajax__tab_inner span
{
	font-size: 13px;
	font-weight: bold;
}

.tabPanel .ajax__tab_xp .ajax__tab_body
{
	border-color: #000;
}

/**************************************************************************/
/* Divs */
/**************************************************************************/

div.link A:visited
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 9em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #c0c0c0;
	text-align: center;
	text-decoration: none;
}
div.link A:link
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 9em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #c0c0c0;
	text-align: center;
	text-decoration: none;
}
div.link A:hover
{
	border: 2px inset;
	width: 9em;
	color: black;
	line-height: normal;
	background-color: #c0c0c0;
}
div.link A:active
{
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 9em;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #c0c0c0;
	text-align: center;
	text-decoration: none;
}
div.linkfun A:visited
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}
div.linkfun A:hover
{
	border: 2px inset;
	width: 7em;
	color: black;
	line-height: normal;
	background-color: #bcbcbc;
}
div.linkfun A:active
{
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}
div.linkfun A:link
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}
div.linknav A:visited
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #d3d3d3;
	text-align: center;
	text-decoration: none;
}
div.linknav A:hover
{
	border: 2px inset;
	width: 7em;
	color: black;
	line-height: normal;
	background-color: #d3d3d3;
}
div.linknav A:active
{
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #d3d3d3;
	text-align: center;
	text-decoration: none;
}
div.linknav A:link
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 7em;
	color: black;
	line-height: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #d3d3d3;
	text-align: center;
	text-decoration: none;
}
div.linktab A:visited
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 5em;
	color: black;
	line-height: normal;
	font-family: Arial , Verdana, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}
div.linktab A:hover
{
	border: 2px inset;
	width: 5em;
	color: black;
	line-height: normal;
	background-color: #bcbcbc;
}
div.linktab A:active
{
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 5em;
	color: black;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}
div.linktab A:link
{
	border: 2px outset;
	display: block;
	font-weight: normal;
	font-size: 11px;
	width: 5em;
	color: black;
	line-height: normal;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height: 1.5em;
	background-color: #bcbcbc;
	text-align: center;
	text-decoration: none;
}

.Div_Gray
{
	border:solid 1px black;
	background-color:#bcbcbc;
}

.Div_DarkGray
{
	border:solid 1px black;
	background-color: #acacac;
}

/**************************************************************************/
/* Modal Popups */
/**************************************************************************/

.modalPopup-text
{
	display: block;
	color: #000;
	background-color: #fff;
	text-align: center;
	border: solid 2px #000;
	padding: 10px;
}


/**************************************************************************/
/* Form Elements */
/**************************************************************************/

input.readonly
{
	background-color: #dcdcdc;
}

/* Textbox Watermark */

.watermarked
{
	border: #bebebe 1px solid;
	color: gray;
	background-color: #f0f8ff;
}

/* INPUTS */
.Textbox_Standard
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 150px;
}

.Textbox_Extralarge
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 375px;
	height: 15px;
}

.Textbox_Large
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 200px;
	height: 15px;
}

.Textbox_Small
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 100px;
	height: 15px;
}


.Textbox_Small_Right_Aligned
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 100px;
	height: 15px;
	text-align: right;
}

.Textbox_Tiny
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 45px;
	height: 15px;
}

.Textbox_Tiny_Right_Aligned
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 45px;
	height: 15px;
	text-align: right;
}


.Textbox_Standard_RightAligned
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 150px;
	text-align: right;
}

/*Readonly textboxes*/
.Textbox_Readonly_Standard
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 150px;
	background-color: #cfcfcf;
}


.Textbox_Readonly_Standard_RightAligned
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 150px;
	background-color: #cfcfcf;
	text-align: right;
}

.Textbox_Readonly_Extralarge
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 375px;
	height: 15px;
	background-color: #cfcfcf;
}

.Textbox_Readonly_Large
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 200px;
	height: 15px;
	background-color: #cfcfcf;
}

.Textbox_Readonly_Small
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 100px;
	height: 15px;
	background-color: #cfcfcf;
}

.Textbox_Readonly_Small_RightAligned
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 100px;
	background-color: #cfcfcf;
	text-align: right;
}

.Textbox_Readonly_Tiny
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 45px;
	height: 15px;
	background-color: #cfcfcf;
}

/* Dropdowns */

.Dropdown_Standard
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 175px;
}

.Dropdown_Large
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 250px;
}

.Dropdown_Small
{
	font-size: 10pt;
	color: black;
	font-family: Arial;
	width: 90px;
}
/*Text areas*/
textarea
{
	font-size: 12px;
	color: black;
	font-family: arial;
}

.Textarea_Medium
{
	height: 43px;
	width: 367px;
}

.Textarea_Large
{
	height: 43px;
	width: 730px;
}

.Textarea_Readonly_Medium
{
	height: 43px;
	width: 367px;
	background-color: #cfcfcf;
}

.Textarea_Readonly_Large
{
	height: 43px;
	width: 730px;
	background-color: #cfcfcf;
}


.TextArea_Standard
{
	width: 700px;
	height: 50px;
}

.TextArea_Tiny
{
	width: 210px;
	height: 30px;
}

.Label_Bold
{
	font-weight: bold;
}

/* Labels */

.labeldisabled
{
	color: #000000;
}

/* anchors */

.HyperLink_Label_MouseOut
{
	color: blue;
	cursor: default;
}

.HyperLink_Label_MouseOver
{
	cursor: hand;
	color: maroon;
	text-decoration: underline;
}





