﻿/*****************************************************************************************************************/
/* Styles that define the data tables */
/*****************************************************************************************************************/

/* Tables */
table.dataTable
{
	border-width: 1px;
	background-color: #FFF;
}

table.dataTable th
{
	border-bottom-width: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

table.dataTableColor
{
	border-width: 1px;
	background-color: #FFF;
}

table.dataTableColor th
{
	border-bottom-width: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

table.dataTableColor td
{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

table.dataTableGrid
{
	border-width: 1px;
	background-color: #FFF;
}

table.dataTableGrid th
{
	border-width: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

table.dataTableGrid td
{
	border-width: 1px;
}

tr.evenRow
{
	background-color: #FFF;
}
tr.oddRow
{
	background-color: #EEE;
}
tr.selectedRow
{
	background-color: #ADF;
}

/* repeat Label Table - used for CheckBoxList and RadioButtonList to space them out a bit more */
table.repeatLabelTable 
{
}

table.repeatLabelTable label 
{ 
	padding-right: 15px; 
}

/* data table internal, overrides the dataTable* styles and sets them back to the defaults */
table.dataTableInternal
{
	border-width: 0;
	background-color: inherit;
}

table.dataTableInternal td
{
	border-width: 0;
}