﻿/*****************************************************************************************************************/
/* Styles associated with the AJAX Tab Containers */
/*****************************************************************************************************************/

.ajax__tab_xp .ajax__tab_body 
{
}

.ajax__tab_container 
{
    background-color: #AAA;
    border-color: #555;
}

.ajax__tab_panel
{
    width: 100%;
    min-height:300px; 
    height:auto !important; 
    height:300px;
	font-size: 12px;
	font-family: arial;
	}

.ajax__tab_inner span
{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.ajax__tab_default,
.ajax__tab_header 
{
	white-space: normal !important;
}