﻿/*****************************************************************************************************************/
/* Styles used by the outer page template */
/*****************************************************************************************************************/

@media print
{
	.header { display: none; }
	.footer { display: none; }
	.popupheader { display: none; }
	.popupfooter { display: none; }
}

@media screen
{
	body
	{
		background: #FFF url(../../images/bg.png) repeat-x;
		background-color: #CCC;
	}

	body.popup
	{
		background: #FFF url(../../images/popupbg.png) repeat-x;
		background-color: #CCC;
	}
}

/*****************************************************************************************************************/
/* standard template */
/*****************************************************************************************************************/

.header
{
	height: 80px; 
	width: 100%; 
	text-align: left; 
	background: #37465D url(../../images/header_bg.png) repeat;
}

.header-inner
{
	height: 80px; 
	width: 780px; 
	margin: 0 auto; 
	padding: 0;
}

.header table, .header td, .header a
{
	color: #FFF;
}

.header a, .header a:active, .header a:visited
{
	color: #ff9a00;
	text-decoration: underline;
}

.header a:hover
{
	color: #fff;
	text-decoration: underline;
}

.title
{
	height: 45px; 
	width: 100%; 
	text-align: left;
}

.title-inner
{
	height: 45px; 
	width: 780px; 
	margin: 0 auto; 
	padding: 0;
}

.content
{
	width: 100%; 
	text-align: left;
}

.content-inner
{
	width: 780px; 
	margin: 0 auto; 
	padding: 0;
}

.footer
{
	width: 100%; 
	text-align: left;
}

.footer-inner
{
	width: 780px; 
	margin: 0 auto; 
	padding: 0;
}

body
{
    margin: 0px; 
}

select.menu
{
	color: black;
	font-family: arial;
	background-color: #CCDAEC;
	text-decoration: none;
	border: solid 1px #99A4B6;
}

select.menu2
{
	color: black;
	font-family: arial;
	background-color: #CCDAEC;
	text-decoration: none;
	border: solid 1px #99A4B6;
}

input.menu
{
	font-size: 10px;
	width: 130px;
	color: black;
	font-family: arial;
	height: 20px;
	background-color: #b9b9b9;
	text-decoration: none;
}

.titlelarge
{
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
	font-family: arial;
}

.titlelarge a, .titlelarge a:active, .titlelarge a:visited
{
	font-weight: bold;
	font-size: 15px;
	color: #ff9a00;
	font-family: arial;
	text-decoration: underline;
}

.titlelarge a:hover
{
	color: #fff;
}

/*****************************************************************************************************************/
/* popup template */
/*****************************************************************************************************************/

.popupheader
{
	height: 65px; 
	text-align: left; 
	background: #37465D url(../../images/header_bg.png) repeat;
}

.popupheader-inner
{
	height: 65px; 
	padding: 0 5px;
}

.popupheader table, .popupheader td, .popupheader a
{
	color: #FFF;
}

.popupheader a, .popupheader a:active, .popupheader a:visited
{
	color: #ff9a00;
	text-decoration: underline;
}

.popupheader a:hover
{
	color: #fff;
	text-decoration: underline;
}

.popupcontent
{
	text-align: left;
}

.popupcontent-inner
{
	padding: 15px 5px;
}

.popupfooter
{
	text-align: left;
}

.popupfooter-inner
{
	padding: 0px 5px;
}

