﻿/*auto complete*/
.ui-autocomplete
{
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-front
{
    z-index: 100;
}

.ui-menu
{
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-menu .ui-menu-item
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.ui-widget-content
{
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    color: #222222;
}

.ui-menu .ui-menu-item a
{
    display: block;
    font-weight: normal;
    line-height: 1.5;
    min-height: 0;
    padding: 2px 0.4em;
    text-decoration: none;
}

.ul-corner-all-ui-state-focus
{
}
/*END - auto complete*/
.row
{
    padding: 10px 0;
    clear: both;
}

.titleCol
{
    float: left;
    width: 120px;
}
.inputCol
{
    float: left;
    margin: 0 20px 0 0;
}
/*.inputCol input
{
    margin: 0 30px;
}

.inputCol select, .inputCol textarea
{
    margin-left: 30px;
}*/

.buttonTable
{
    padding: 2px;
    width: 100%;
}
.buttonTable tr td
{
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.buttonTable tr td.rightAlign
{
    text-align: right;
}

/*popup*/
.modalPopup
{
    display:none;
    border-color: Black;
    border-width: 2px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 30px;
}

.divBulkButtons
{
    margin: 0 auto;
    width: 280px; /*position: relative;*/
}

#screen
{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}

/*display result grid*/
.divResult
{
    width: 100%;
}
.divResult th, .divResult td
{
    padding: 5px;
}
.divResult th
{
    background-color: rgba(0, 0, 0, 0);
}
.divResult a
{
    cursor: pointer;
}
.oddBG
{
    background-color: #eee;
}

.evenBG
{
    background-color: #fff;
}
/*[END] display result grid*/