<%@ Control Language="VB" AutoEventWireup="false" CodeFile="MessagePanelControl.ascx.vb" Inherits="UserControls_MessagePanelControl" %>

<asp:Panel ID="messagePanel" runat="server" CssClass="shortMessagePanel" Style="display: none" />