<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SessionRedirector.aspx.vb" Inherits="UserControls_SessionRedirector_SessionRedirector" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script language="javascript">
        function redirect()
        {//http://localhost:1990/Web/UserControls/SessionRedirector/%22../web/Booking/BookingProcess.aspx%22
            //window.location = '<%=Request.Cookies("defaultUserPage").Value %>'
            
          //  window.location = '<%= GetURL %>'
        }
    </script>
</head>
<body onload="redirect()">
    <form id="form1" runat="server">
    <div>
        </div>
    </form>
</body>
</html>
