<%@ Control Language="VB" AutoEventWireup="false" CodeFile="BookingProductsReasons.ascx.vb" Inherits="Booking_Controls_BookingProductsReasons" %>
&nbsp;<asp:Panel ID="Panel1" runat="server">
</asp:Panel>
