<%@ Control Language="VB" AutoEventWireup="false" CodeFile="BookingProcessStepUserControl.ascx.vb" Inherits="Booking_Controls_BookingProcessSteps" %>
<div>
    <table cellpadding="0" cellspacing="0" >
        <tr>
            <td>
                <asp:Image runat="server" ID="img1"  Width="50" Height="20"  style="border-style:None;" />
            </td>
            <td>
                <asp:Image runat="server" ID="Img2"  Width="50" Height="20"  style="border-style:None;" />
            </td>
            <td>
                <asp:Image runat="server" ID="Img3"  Width="50" Height="20"  style="border-style:None;" />
            </td>
            <td>
                <asp:Image runat="server" ID="Img4"  Width="50" Height="20" style="border-style:None;"/>
            </td>
        </tr>
    </table>
</div>