﻿
.CalendarPopupcpYearNavigation, .CalendarPopupcpMonthNavigation
{
	background-color: #526687;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
.CalendarPopupcpDayColumnHeader, .CalendarPopupcpYearNavigation, .CalendarPopupcpMonthNavigation, .CalendarPopupcpCurrentMonthDate, .CalendarPopupcpCurrentMonthDateDisabled, .CalendarPopupcpOtherMonthDate, .CalendarPopupcpOtherMonthDateDisabled, .CalendarPopupcpCurrentDate, .CalendarPopupcpCurrentDateDisabled, .CalendarPopupcpTodayText, .CalendarPopupcpTodayTextDisabled, .CalendarPopupcpText
{
	font-family: arial;
	font-size: 8pt;
}
TD.CalendarPopupcpDayColumnHeader
{
	text-align: right;
	border-bottom : solid thin #526687;
	border-bottom-width:1px;
}
.CalendarPopupcpCurrentMonthDate, .CalendarPopupcpOtherMonthDate, .CalendarPopupcpCurrentDate
{
	text-align: right;
	text-decoration: none;
}
.CalendarPopupcpCurrentMonthDateDisabled, .CalendarPopupcpOtherMonthDateDisabled, .CalendarPopupcpCurrentDateDisabled
{
	color: #D0D0D0;
	text-align: right;
	text-decoration: line-through;
}
.CalendarPopupcpCurrentMonthDate
{
	color: #526687;
	font-weight: bold;
}
.CalendarPopupcpCurrentDate
{
	color: #FFFFFF;
	font-weight: bold;
}
.CalendarPopupcpOtherMonthDate
{
	color: #808080;
}
TD.CalendarPopupcpCurrentDate
{
	color: #FFFFFF;
	background-color: #526687;
	border-width: 1;
	border: solid thin #000000;
}
TD.CalendarPopupcpCurrentDateDisabled
{
	border-width: 1;
	border: solid thin #FFAAAA;
}
TD.CalendarPopupcpTodayText, TD.CalendarPopupcpTodayTextDisabled
{
	border-top : solid thin #526687;
	border-top-width:1px;
}
A.CalendarPopupcpTodayText, SPAN.CalendarPopupcpTodayTextDisabled
{
	height: 20px;
}
A.CalendarPopupcpTodayText
{
	color: #526687;
	font-weight: bold;
}
SPAN.CalendarPopupcpTodayTextDisabled
{
	color: #D0D0D0;
}
.CalendarPopupcpBorder
{
	border: solid thin #526687;
}
