<%@ Control Language="VB" AutoEventWireup="false" CodeFile="DateControl.ascx.vb" Inherits="UserControls_DateControl" %>

<span class="DateControl">
<asp:TextBox ID="dateTextBox" runat="server" MaxLength="10" Style="width: 75px;"/>
<asp:Image ID="dateImage" runat="server" ImageUrl="~/UserControls/DateControl/DateControl.gif"  ImageAlign="AbsMiddle" Width="18" Height="15" />
</span>


