﻿body
{
    background:none;
    padding:10px;
}

.closeButton
{
    float:right;
}
    
.clear 
{
    clear:both;
}
    
#multiselTable
{
    width:100%;
    text-align: center;
}
    
.multiselItems
{
    margin: 10px 0px 0px 0px;
    height: 300px;
    width: 350px;
}
.multiselItemsSelected
{
    height: 330px;
    width: 350px;
}
    
#multiselItemsAdd, #multiselItemsRemove
{
    padding-left: 8px;
    padding-right: 8px;
}

.multiselButtons
{
    text-align:right;
}


.multiselArrows
{
    
}