﻿.MultiSelectControl
{
	/*white-space: nowrap;*/
	width: 0px;
	padding: 0;
}

.MultiSelectControl img
{
	padding: 0;
	border: 0;
	margin: 0;
}

/*
.MultiSelectControl a
{
    white-space: normal;
}

.MultiSelectControl span
{
    white-space: normal;
}
*/

/*
.MultiSelectControl input
{
    background:#fff;
    border:1px solid #666;
}


.MultiSelectControl img
{
	padding: 0;
	border: 0;
	margin: 0;
	cursor: pointer;
}
*/


