<%@ Control Language="VB" AutoEventWireup="false" CodeFile="LevelControl.ascx.vb" Inherits="Flex_LevelControl" %>

<asp:Table CssClass="levelTable" ID="levelTable" runat="server" CellPadding="2" CellSpacing="0">
    <asp:TableHeaderRow>
        <asp:TableHeaderCell ColumnSpan="9" Style="text-align: left; font-weight: bold; width: 100px;">Flex Grid</asp:TableHeaderCell>
    </asp:TableHeaderRow>
    <asp:TableRow>
        <asp:TableHeaderCell>&nbsp;</asp:TableHeaderCell>
        <asp:TableHeaderCell>1</asp:TableHeaderCell>
        <asp:TableHeaderCell>2</asp:TableHeaderCell>
        <asp:TableHeaderCell>3</asp:TableHeaderCell>
        <asp:TableHeaderCell>4</asp:TableHeaderCell>
        <asp:TableHeaderCell>5</asp:TableHeaderCell>
        <asp:TableHeaderCell>6</asp:TableHeaderCell>
        <asp:TableHeaderCell>7</asp:TableHeaderCell>
        <asp:TableHeaderCell>8</asp:TableHeaderCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>A</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>B</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>C</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>D</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>E</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>F</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>G</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableHeaderCell>H</asp:TableHeaderCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
        <asp:TableCell>&nbsp;</asp:TableCell>
    </asp:TableRow>
</asp:Table>

<script type="text/javascript">
    var levelControlId = '<%= Me.ClientId %>';
</script>