﻿body
{
}

.dataTableColor tr
{
    height: 30px;
}

.packageSearch
{
    width: 780px;
}

.packageSearchTD1
{
    width: 140px;
}

.packageSearchTD2
{
   
}

.genericTDlabel
{
    width: 120px;
}

.pnlEditBulk
{
    padding: 30px;
}

.pnlEditUnit
{
    padding: 30px;
}

.dropDownList
{
}

.notVisable
{
    display: none;
}
.valNewVehicleRebranding
{
    position: absolute;
    top: 20px;
    left: 100px;
}

#invalidFleetModel
{
    color:#FF0000;
}



#editvehicletable td:first-child
{
    width: 140px;
}

#editvehicletable td:nth-child(2)
{
    width: 155px;
}

#editvehicletable td:nth-child(3)
{
    width: 140px;
}

#editvehicletable td:nth-child(4)
{
    width: 140px;
}
#editvehicletable td:nth-child(5)
{
    width: 155px;
}
#editvehicletable td:nth-child(6)
{
    width: 80px;
}

#ructable input
{
    width: 70px;
}

#ructable td:first-child
{
    width: 150px;
}

#ructable td:nth-child(2)
{
    width: 170px;
}

#ructable td:nth-child(4)
{
    width: 90px;
}

#ructable td:nth-child(5)
{
    width: 120px;
}


#editvehicletable input,#editvehicletable select
{
    width: 140px;
}


label.error
{
   font-weight: bold;
}
