﻿.collapsibleTable 
{ 
    background-color: #FFF; 
    border-width: 1px;
    height: 0px; 
}

.collapsibleTable th
{ 
	cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-color: #666;
    padding-left: 2px;
    background-color: #CCC;
}

.collapsibleTablePanel
{
	background-color: #DDDDE6;
	width: 100%;
	overflow: hidden;
}