﻿body
{
}

#butDisposalSearch
{
    margin-left: 20px;
}


.bulkEditVehicleSalePanelButtons
{
    width: 400px;
    margin: 20px 0 0 auto;
}

.singleEditVehicleSalePanelButtons
{
    width: 550px;
    margin: 20px 0 0 auto;
}

.singleEditVehicleSalePanelButtons button {
    margin-top: 10px;
}

.createSalePlanPanelButtons {
    padding-top: 30px;
}

.ui-helper-hidden-accessible, #FleetModelIdTextbox
{
    display: none;
}




.modifiedVehicleSaleRow
{
    background-color: #ffddfa;
}

.modifiedCurrentPlanRow_Gray
{
    background-color: #eee;
}

.modifiedCurrentPlanRow_Yellow
{
    background-color: #FFFFBB;
}

.modifiedCurrentPlanRow_Green
{
    background-color: #DDFFDD;
}

#mandatoryDealerNameIndicator
{
    display:none;
}

.shortTextbox
{
    width: 80px;
}


/* 05Aug2014 Revisions from aurora */


#tableForUnitNumber td , #tablePreSaleInformation  td, #tableSaleInformation td, #tablePayment td, 
#tableUpdatePlanDetails td,#tableUpdateUnitDefault td
{
    width: 150px;
}  

#tablePreSaleInformation select, #tableSaleInformation select , #tablePayment select , 
#tableUpdatePlanDetails select, #tableForUnitNumber select
{
    width: 140px;
}  

#tableForUnitNumber input, #tableSaleInformation input, #tablePayment input
{
    width: 135px;
}

#tableCommentsAndHistory td:first-child
{
    width: 150px;
    vertical-align:top;
}

#tableCommentsAndHistory td:nth-child(2)
{
    width: 300px;
}


.singleEditVehicleSalePanelButtons
{
    text-align:right;
}
.singleEditVehicleSalePanelButtons button
{
    width: 100px;
}

#tableFleetSalesDisposalData td
{
    width: 150px;
}


.divBulkButtonsV1
{
    text-align:right;
}

.bulkEditVehicleSalePanelButtons button
{
    width:80px;
}

#bulkEditVehicleSalePanel , #bulkEditCurrentPlanPanel
{
    width:400px;
}

#tableUpdateUnitDefault select, #tableUpdatePlanDetails select
{
    width: 280px;
}

#tableUpdateUnitDefault td:nth-child(2), #tableUpdatePlanDetails td:nth-child(2)
{
    width: 300px;
}

.ErrorV2
{
    border: 2px solid red;
}
