﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TelematicsTasks.aspx.vb" Inherits="TelematicsTasks" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Enter Vehicle GUID : "></asp:Label>
        <asp:TextBox ID="txtGUID" runat="server"></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="Enter Booking ID :"></asp:Label>
        <asp:TextBox ID="txtBookingId" runat="server"></asp:TextBox>
        <asp:Button ID="btnUpd" runat="server" Text="Update Booking ID" />
        <asp:Button ID="getVehicleList" runat="server" Text="Get Vehicle List" Visible="False" />
        <asp:Button ID="btnUpdate" runat="server" Text="Update Vehicle List" />
&nbsp;<br />
        <br />
        <br />
        Update Single Unit : Unit No<asp:TextBox ID="txtUnitNo" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Update" />
        </div>
        <asp:Label ID="lblStatus" runat="server"></asp:Label>
    </form>
</body>
</html>
