#loadingIndicator_overlay 
{ 
	background-image: url(overlay.png); 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 100100; 
	width: 100%
}

#loadingIndicator_loadingImage
{ 
	border: none; 
	position:absolute; 
	z-index: 100150;
}

* html #loadingIndicator_overlay
{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(n.gif);
}
