﻿.dialog
{
    font-family:Tahoma;
    font-size:11pt;
	color:#222222;
    background-color:#fff;
}    


.header
{
    position:relative;
    color:#fff;        
    cursor:pointer; 
}
/*
.header .outer
{
    background:url(../img/top-right.png) right no-repeat;
    padding-right:30px;
}

.header .inner
{
    background:url(../img/top-left.png) left no-repeat;
    padding-left:9px;
}

.header .content
{
    height:35px;
    background:url(../img/top-mid.png) repeat-x;
}
*/
.header .content H2
{
    font-size:12pt;
    font-weight:bold;
    color:#fff;
    padding-top:6px;
    margin:0;
}
.header .close
{
    
    height:25px;
    width:35px;	
	
    
    position:absolute;	
    top:4px;
    right:7px;	
    background:url(../img/close.png) no-repeat;	
    cursor:pointer;
}

.header .close:hover
{
    
    background:url(../img/close-hover.png) no-repeat;	
}        



.body
{
}

.body .outer
{
    background:url(../img/right.png) right repeat-y;
    padding-right:7px;
}
.body .inner
{
    background:url(../img/left.png) left repeat-y;
    padding-left:7px;
}

.body .content
{
}  
.body .content H2
{
    padding:10px;
    margin:0px;
    text-align:center;
    font-size:11pt;
    color:#222222;        
    font-weight:normal;
}   

.body .content .footer
{
    
    background:url(../img/footer.gif) repeat-x bottom;
    height:41px;
  
}

.body .content .footer .commands
{
    text-align:right;
    padding:8px;
}           
.body .content .footer .commands INPUT
{

    width:75px;        
}                   


.footer
{
}

.footer .outer
{
    background:url(../img/bottom-right.png) right top no-repeat;
    padding-right:9px;
}

.footer .inner
{
    background:url(../img/bottom-left.png) left top no-repeat;
    padding-left:9px;
}

.footer .content
{
    height:7px;
    background:url(../img/bottom-mid.png) repeat-x;        
}   
        
.updating
{
    color:#808080;
    background:url(../img/activity.gif) no-repeat center;
}  
