﻿/* table level rules */
.grid
{
	font-family: tahoma;
	font-size: 11px;
	border: solid 1px #7f7f7f;
	border-bottom-width:1px;
    border-collapse:collapse;
    color: #333333;
    width:100%
}



.grid th a
{
	color:#333333;
    font-weight: bold;
	text-decoration: none;
	display: block;
    padding-right: 10px;
}

/* data cell and data row rules 
.grid td 
{
	color:#333333;
    padding: 4px 10px 4px 10px;
    border-bottom: solid 1px #BBD9EE;
}

.grid .altrow
{
    background-color: #EBF4FA;
} 

.grid .row
{
    background-color: #fff;
}  

.grid .rownum
{
	width:15px;
    text-align:center;
    padding-left:0px;
    font-weight:bold;
    color:#333333;
}
*/

/* group header */
.grid .group span
{
	padding:10px 0px 2px 0px;
	color:#666666;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
} 
.grid .group img
{
	cursor:pointer;
}