<%@ Page Language="VB" MasterPageFile="~/Include/AuroraHeader.master" AutoEventWireup="false" CodeFile="LogOff.aspx.vb" Inherits="LogOff" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="StylePlaceHolder" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ScriptPlaceHolder" Runat="Server">
<script type="text/javascript">

window.close();

</script>
 </asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">

<b>Thank you for using Aurora</b>

</asp:Content>

